/*...COMMON...*/

    /*...FONTS... */

    :root {
        --heading-font: Arial, sans-serif;
        --paragraph-font: Figtree, sans-serif;
    }

    /*...NAVIGATION... */
    
    #menu {
        display: block;
        font-size: 1.5rem;
        position: fixed;
        top: 10px;
        left: 20px;
        color: #fff;
    }
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "❌";
    }
    
    .navigation {
        list-style-type: none;
        padding: 30px;
        background-color: #000;
        margin: 0 auto;
    }
    
    .navigation li {
        display: none;
    }
    
    .navigation.open li{
        display: block;
    }
    
    .navigation a {
        display: block;
        color: #fff;
        padding: 1rem;
        text-decoration: none;
        text-align: left;
    }
    
     .navigation.open {
        align-items: center;
        justify-content: center;
        margin: auto;
        flex: 1;
    }
    
    .navigation a:hover {
        background-color: #3b5b26;
        border: #fff solid 2px;
        border-radius: 10px;
        max-width: 100px;
    }
    
    /*...MISC... */

    body {
        font-family: var(--paragraph-font);
    }
    
    div {
        padding: 5px;
    }

    /*...MAIN IMAGE... */

    .hero img {
        border: 1px solid #000;
        padding: 5px;
        box-shadow: 0 0 50px gray;
        margin: .625rem 0 .625rem 7rem;
        width: 80%;
    }

        /*...HEADER - FOOTER ... */

        h1 {
            color: #3b5b26;
            border-bottom: #000 solid 2px;
            font-family: var(--heading-font);
            margin: 0;
            font-size: 1.4em;
        }

        h3 {
            margin: 0;
        }

        footer{
            font-size: .8em;
            background-color: #000;
            color: #fff;
            padding: .5rem;
            text-align: center;
        }

/*...DRAFT PAGE... */

    /*...BODY... */

    .grid {
        display: grid;
        gap: 5px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
    }

    li{
        list-style-type: none;
        padding: 2px;
    }

/*...TEAM LIST...*/
    .listContainer {
        border: solid #000 2px;
        min-height: 34rem;
    }

    button {
        background-color: #eee;
        color: #fff;
        padding: .75rem;
        width: 200px;
        font-size: .9em;
        }

/*...PLAYER LIST...*/

button {
    background-color: #3b5b26;
    color: #fff;
    padding: .75rem;
    width: 200px;
    font-size: .9em;
}

button:hover {
    background-color: #000;
    color: #fff;
    font-weight: 700;
}
