	
/* medium - 2 columns */
@media screen and (min-width: 550px) {
	#templecard{
		grid-template-columns: auto auto;	
	}
}

/* large - 3 columns */
@media screen and (min-width: 700px) {

	#menu {
		display: none; 
	}
	.navigation {
		display: flex;
		flex-direction: row;
		padding: 0;
	}

	.navigation li {
		display: block;
	}
	
	.navigation ul {
		display: flex;
		flex: 1 1 100%;
	}

	#templecard{
		grid-template-columns: auto auto auto;
	}
}


