@media (min-width: 750px) {

.hero img {
    width: 100%;
    height: auto;
}

.data {
    position: absolute;
    background-color: #fff;
    top: 90px;
    left: 70px;
    padding: 10px;
    text-align: center;
    opacity: .7;
    width: 400px;
}

.weather {
    position: absolute;
    background-color: #fff;
    top: 350px;
    right: 40px;
    padding: 10px;
    text-align: center;
    opacity: .7;
    width: 350px;   
}

picture p {
    font-size: 1.25em;
    font-family: var(--paragraph-font);
}
} 