@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --header-font: Cabin, sans-serif;
    --paragraph-font: Montserrat, sans-serif;
}

h1 {
    font-family: var(--header-font);
    font-weight: bold;
}

p {
    font-family: var(--paragraph-font);
}

footer {
    font-size: .75em;
    font-family: var(--paragraph-font);
    padding: 10px; 
    background-color: black;
    color: #fff;
    text-align: center;
}